# LATEX FILES
latex/*.aux
latex/*.log
latex/*.out
latex/*.fls
latex/*.fdb_latexmk
latex/*.synctex.gz

# PROTEGE FILES
catalog-v001.xml
test.ttl

# PYTHON FILES
.ipynb_checkpoints/
__pycache__

# DATASETS
/journal-ranking-dataset
/nobel-laureates
/research-papers-dataset
filtered_papers.csv

# KAGGLE CREDENTIALS
kaggle.json

# VSCODE
.vscode/

# ZIP
filteredPapers.zip
nobelOntologyGraph.zip

# SLIDES
slides/*.aux
slides/*.vrb
slides/*.toc
slides/*.log
slides/*.out
slides/*.nav
slides/*.snm
slides/*.fdb_latexmk
slides/*.fls
slides/*.synctex.gz