latex/*.aux
latex/*.log
latex/*.out
latex/*.fls
latex/*.fdb_latexmk
latex/*.synctex.gz
catalog-v001.xml
/nobel-laureates
test.ttl
.ipynb_checkpoints/
journal-ranking-dataset/
/research-papers-dataset
